name: style.yml
on:
  pull_request:
    branches: [ 'main' ]
jobs:
  style:
    name: style
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Lint
        uses: dagger/dagger-for-github@v8.3.0
        with:
          call: lint
      - name: Upsert PR Comment
        uses: mshick/add-pr-comment@v2
        with:
          message-id: linter-results
          message: |
            ## Latest linter results
            **Commit:** ${{ github.sha }}
            ```text
            ${{ steps.dagger-lint.outputs.stdout }}
            ```
      - name: Post Commit Comment
        uses: peter-evans/commit-comment@v3
        with:
          body: |
            ## Linter results
            ```text
            ${{ steps.dagger-lint.outputs.stdout }}
            ```