name: style.yml
on:
  pull_request:
    branches: [ 'main' ]
jobs:
  style:
    name: style
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Lint
        id: dagger_lint
        uses: dagger/dagger-for-github@v8.3.0
        with:
          call: lint
          args: '-o stdout.txt'
      - name: Format PR Comment
        run: |
          echo "### Lint Results" > pr_comment.md
          echo "\`\`\`text" >> pr_comment.md
          cat stdout.txt >> pr_comment.md
      - name: Write PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: ruff-lint-result
          path: pr_comment.md