name: tests.yml
on:
  pull_request:
    branches: [ 'main' ]
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: unit-tests
        uses: dagger/dagger-for-github@v8.3.0
        with:
          call: test-unit
